/*  your css code here. If applicable */
body > div{
	background-color:rgb(46, 204, 113);
}
.head{
	width:100%;
}
.book-library{
	display:flex;
	flex-direction:column;
	gap:30px;
	box-shadow: 5px 3px grey;
}
.image{
	display:flex;
	justify-content:center;
	background-color:rgb(46, 204, 113);
}
h1{
	text-align:center;
}
main{
	background-color:#ffffff;
}
h2{
	margin:0px;
}
p{
	color:#777777;
	margin:0px;
}
.price{
	background-color:#2ecc71;
	text-align:center;
	padding:10px;
	border-radius:5px;
	color:white;
}